<div class="container">
  <div class="card-container">
    <div class="name">
      Gian Hao <br />
      & <br />
      Su Ping
    </div>
    <div class="date">~ 07.01.2023 ~</div>
    <div class="location-container">
      <div class="address">
        Location: <br />
        No 28, Jalan Setia Permai U13/41A, Setia Alam, 40170 Selangor
      </div>
      <div class="navigation-container">
        <a href="https://waze.com/ul/hw281udn3f" target="_blank">
          <img class="navigation-icon" src="/wedding-card/assets/waze.webp" />
        </a>
        <a
          href="https://maps.app.goo.gl/vm5BsxXH8hxh5EKYA?g_st=ic"
          target="_blank"
        >
          <img class="navigation-icon" src="/wedding-card/assets/google-maps.webp" />
        </a>
      </div>
    </div>
  </div>
</div>
